MyTestExt.ConsoleApp/Web References/cn.org.zhongdengwang.wsquery.QueryBySubject/WSQueryBySubjectServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/QueryBySubjectService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSQueryBySubjectServiceService" targetNamespace="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/QueryBySubjectService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/QueryBySubjectService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="queryBySubject" type="tns:queryBySubject" />
      <xs:element name="queryBySubjectResponse" type="tns:queryBySubjectResponse" />
      <xs:complexType name="queryBySubject">
        <xs:sequence>
          <xs:element minOccurs="0" name="platformAuthCode" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="loginToken" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="debttype" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="nameorno" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="confirm" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryBySubjectResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="queryBySubject">
    <wsdl:part name="parameters" element="tns:queryBySubject" />
  </wsdl:message>
  <wsdl:message name="queryBySubjectResponse">
    <wsdl:part name="parameters" element="tns:queryBySubjectResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="WSQueryBySubjectService">
    <wsdl:operation name="queryBySubject">
      <wsdl:input name="queryBySubject" message="tns:queryBySubject" />
      <wsdl:output name="queryBySubjectResponse" message="tns:queryBySubjectResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSQueryBySubjectServiceServiceSoapBinding" type="tns:WSQueryBySubjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queryBySubject">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryBySubject">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryBySubjectResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSQueryBySubjectServiceService">
    <wsdl:port name="WSQueryBySubjectServicePort" binding="tns:WSQueryBySubjectServiceServiceSoapBinding">
      <soap:address location="https://wsquery.zhongdengwang.org.cn/mfrsq_ws_test/services/queryBySubject" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>