MyTestExt.ConsoleApp/Web References/cn.org.zhongdengwang.wsquery.QueryDownLoadFileByNum/WSDownLoadFileByNumServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/DownLoadFileByNumService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSDownLoadFileByNumServiceService" targetNamespace="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/DownLoadFileByNumService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/DownLoadFileByNumService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="queryDownLoadFileByNum" type="tns:queryDownLoadFileByNum" />
      <xs:element name="queryDownLoadFileByNumResponse" type="tns:queryDownLoadFileByNumResponse" />
      <xs:complexType name="queryDownLoadFileByNum">
        <xs:sequence>
          <xs:element minOccurs="0" name="platformAuthCode" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="loginToken" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="registerNo" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="debttype" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="nameorno" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryDownLoadFileByNumResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="queryDownLoadFileByNum">
    <wsdl:part name="parameters" element="tns:queryDownLoadFileByNum" />
  </wsdl:message>
  <wsdl:message name="queryDownLoadFileByNumResponse">
    <wsdl:part name="parameters" element="tns:queryDownLoadFileByNumResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="WSDownLoadFileByNumService">
    <wsdl:operation name="queryDownLoadFileByNum">
      <wsdl:input name="queryDownLoadFileByNum" message="tns:queryDownLoadFileByNum" />
      <wsdl:output name="queryDownLoadFileByNumResponse" message="tns:queryDownLoadFileByNumResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDownLoadFileByNumServiceServiceSoapBinding" type="tns:WSDownLoadFileByNumService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queryDownLoadFileByNum">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryDownLoadFileByNum">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryDownLoadFileByNumResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDownLoadFileByNumServiceService">
    <wsdl:port name="WSDownLoadFileByNumServicePort" binding="tns:WSDownLoadFileByNumServiceServiceSoapBinding">
      <soap:address location="https://wsquery.zhongdengwang.org.cn/mfrsq_ws_test/services/queryDownLoadFileByNum" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>