MyTestExt.ConsoleApp/Web References/cn.org.zhongdengwang.wsquery.Login/WSLoginServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/LoginService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSLoginServiceService" targetNamespace="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/LoginService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="https://wsquery.zhongdengwang.org.cn/mfrsq_ws/services/LoginService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="login" type="tns:login" />
      <xs:element name="loginResponse" type="tns:loginResponse" />
      <xs:complexType name="login">
        <xs:sequence>
          <xs:element minOccurs="0" name="userName" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="userPassword" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="platformAuthCode" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:portType name="WSLoginService">
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLoginServiceServiceSoapBinding" type="tns:WSLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLoginServiceService">
    <wsdl:port name="WSLoginServicePort" binding="tns:WSLoginServiceServiceSoapBinding">
      <soap:address location="https://wsquery.zhongdengwang.org.cn/mfrsq_ws_test/services/login" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>